*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
.cardre-form{
    border: 1px solid black;
}
.cardre-pic{
    height: 40px;
    width: 40px;
    background-color: red;
    position: absolute;
    top: -20px;
    left: 10px;
}

.form-control:focus {
    border-color: #333;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(54, 51, 54, 0.5);
}
.field-icon {
    float: right;
    margin-left: -25px;
    margin-top: -25px;
    margin-right: 30px;
    position: relative;
    z-index: 2;
  }
    .checkbox label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
        line-height: 16px;
      }
      
      .checkbox label::before {
        content: "";
        display: inline-block;
        position: absolute;
        width: 17px;
        height: 17px;
        left: 0;
        margin-left: -20px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        background-color: #fff;
        -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
        transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      }
      
      .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 0;
        top: 0;
        margin-left: -20px;
        padding-left: 3px;
        padding-top: 1px;
        font-size: 11px;
        color: #555555;
      }
      
      .checkbox input[type="checkbox"] {
        opacity: 0;
        z-index: 1;
      }
      
      .checkbox input[type="checkbox"]:focus + label::before {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
      }
      
      .checkbox input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\f00c";
      }
      
      .checkbox input[type="checkbox"]:disabled + label {
        opacity: 0.65;
      }
      
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed;
      }
    .checkbox-success input[type="checkbox"]:checked + label::before {
        background-color: #333;
        border-color: #333;
      }
      
      .checkbox-success input[type="checkbox"]:checked + label::after {
        color: #fff;
      }
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}
input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}